/tmp
/bitbake-cookerdaemon.log
/cache
/downloads
/sstate-cache
/bitbake.lock
.qmake.cache
.qmake.stash
debugfs_script
config.log
fstab
.config.notes
include/
.vs/

orange-build/cache
orange-build/downloads
orange-build/sstate-cache
orange-build/tmp
orange-build/bitbake-cookerdaemon.log
orange-build/conf/conf-notes.txt
