/tmp
/bitbake-cookerdaemon.log
/cache
/downloads
/sstate-cache
/bitbake.lock
.qmake.cache
.qmake.stash
debugfs_script
config.log
fstab
.config.notes
include/
.vs/

orange-sunxi/cache
orange-sunxi/downloads
orange-sunxi/sstate-cache
orange-sunxi/tmp
orange-sunxi/bitbake-cookerdaemon.log
orange-sunxi/conf/conf-notes.txt
orange-sunxi/sunxi-sdcard-image.wks*

build-rk/cache
build-rk/downloads
build-rk/sstate-cache
build-rk/tmp
build-rk/bitbake-cookerdaemon.log
build-rk/conf/conf-notes.txt

build-meson/cache
build-meson/downloads
build-meson/sstate-cache
build-meson/tmp
build-meson/bitbake-cookerdaemon.log
build-meson/conf/conf-notes.txt

