[submodule "poky"]
	path = poky
	url = https://git.yoctoproject.org/git/poky
	branch = mickledore
[submodule "meta-sunxi"]
	path = meta-sunxi
	url = git@github.com:buldo/meta-sunxi.git
	branch = pi-lite
[submodule "meta-arm"]
	path = meta-arm
	url = https://git.yoctoproject.org/git/meta-arm
	branch = mickledore
[submodule "meta-openembedded"]
	path = meta-openembedded
	url = https://git.openembedded.org/meta-openembedded
	branch = mickledore
[submodule "meta-openhd"]
	path = meta-openhd
	url = git@github.com:buldo/meta-openhd.git
[submodule "meta-qt5"]
	path = meta-qt5
	url = https://github.com/meta-qt5/meta-qt5.git
    branch = mickledore
[submodule "meta-meson"]
	path = meta-meson
	url = https://github.com/superna9999/meta-meson.git
